.fondo{
  background-image: url('https://images.unsplash.com/photo-1519681393784-d120267933ba?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1124&q=100');
  background-position: center;
  
} 

.cardGlass {
  backdrop-filter: blur(1px) saturate(180%);
  -webkit-backdrop-filter: blur(1px) saturate(180%);
  background-color: rgba(148, 163, 184, 0.243);

  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  transition: all ease-in-out .3s;


  &:hover{
    background-color: #5b7dad6c;
    backdrop-filter: blur(5px) saturate(180%);
    transition: all ease-in-out .3s;

  }
}