
.cardGlass {
  backdrop-filter: blur(5px) saturate(180%);
  background-color: #5b7dad50;

  border-radius: 12px;
  border: 4px solid rgba(255, 255, 255, 0.048);
  transition: all ease-in-out .3s;


}
.cardGlass:hover{
  background-color: #3f96a794;
  backdrop-filter: blur(5px) saturate(180%);
  transition: all ease-in-out .3s;
}